body {
    background-color: grey;
}

.grid-container {
    display:grid;
    width: 25%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 100px;
    transform:scale(1.1);
}

.grid-content {
    display: inline-grid;
    background-color: #008a45;
    grid-template-columns: 1fr 1fr;
    transition: all 0.2s ease-in-out;
}

.grid-content:hover {
   transform: scale(1.1);
}